.rpSect{
    color: rgb(20, 225, 20);
    font-weight: bold;
    text-align: center;
}

.but1{
    margin-top: 40px;
}

#alo{
    color: rgb(20, 225, 20);
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
  }

